{% extends "client/layouts.html" %} {% load static %} {% block title %}
<title>online Food-{{food.food_name}}</title>

{% endblock %} {% block main_content %}

<!--Foods detail container start -->
<div class="container mt-3">
  <div class="bg-white">
    <div class="shadow-lg mb-3">
      <div class="row d-flex justify-content-evenly p-4">
        <div class="col-md-4 p-2 shadow-lg" data-aos="fade-up-right">
          <a href="/add_to_cart/{{food.id}}"><img
            src="/{{food.Food_image}}"
            class="img-fluid rounded-start mt-5 ms-2 mb-5"
            alt="{{food.food_name}}" style="height: 300px; width: 330px;"
          /></a>
        </div>
        <div class="col-md-7 shadow-lg p-5" data-aos="fade-up-right">
          <div class="card-body">
            <h3 class="card-title">{{food.food_name}}</h3>
            <h3 class="card-title">Rs.{{food.food_price}}</h3>
            <h3 class="text-muted">Category:{{food.category}}</h3>
            <p class="card-text">{{food.food_description}}</p>
            <h4 class="text-muted">{{food.created_by}}</h4>
            <a href="/add_to_cart/{{food.id}}"
              ><button class="btn btn-success px-4 rounded-pill">
                Add to Cart
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- recomm -->
<div class="container mt-1">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for food in recommended_foods %}
    <div class="col" data-aos="zoom-out-up">
      <div class="card products">
        <a href="/fooddetails/{{food.id}}"><img
          src="/{{food.Food_image}} " style="height: 170px; width: 190px; "
          class="card-img-top mt-3 ms-4"
          alt="{{recipy.food_name}}"
          title="{{food.food_name}}"
        /></a>
        <div class="card-body">
          <h6 class="card-title ps-3">{{food.food_name}}</h6>
          <h6 class="text-muted ms-3">Category:{{food.category}}</h6>
          
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
